{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- Site Metas -->
    <title>Dr Lahrech Hamza</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/fevicon.ico.png' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- Colors CSS -->
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="{% static 'css/versions.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Modernizer for Portfolio -->
    <script src="{% static 'js/modernizer.js' %}"></script>
</head>
<body class="clinic_version">
    <!-- LOADER -->
    <div id="preloader">
        <img class="preloader" src="{% static 'images/loaders/heart-loading2.gif' %}" alt="">
    </div>
    <!-- END LOADER -->

    <header>
        <div class="header-top wow fadeIn">
            <div class="container">
                <a class="navbar-brand" href="/"><img src="{% static 'images/logo.png' %}" alt="image"></a>
                <div class="right-header">
                    <div class="header-info">
                        <div class="info-inner">
                            <span class="icontop"><img src="{% static 'images/phone-icon.png' %}" alt="#"></span>
                            <span class="iconcont"><a href="tel:0555623455">0555 62 34 55</a></span>
                        </div>
                        <div class="info-inner">
                            <span class="icontop"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                            <span class="iconcont"><a href="lahrech.hamza@outlook.com">lahrech.hamza@outlook.com</a></span>
                        </div>
                        <div class="info-inner">
                            <span class="icontop"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                            <span class="iconcont"><a href="#">كل يوم ماعدا الجمعة </a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom wow fadeIn">
            <div class="container">
                <nav class="main-menu">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse" style="padding-right: 0PX;padding-left: 0px;">
                        <ul class="nav navbar-nav">
                            <li><a class="active" href="/">الرئيسية</a></li>
                            <li><a href="/#about">من نحن</a></li>
                            <li><a href="/#service">حجز موعد</a></li>
                            {% if superadmin %}
                            <li><a href="{% url 'reservation_table' %}">جدول المواعيد</a></li>
                            {% endif %}
                            <li><a href="/#doctors">الأطباء</a></li>
                            
                            <li><a href="/#getintouch">اتصل بنا</a></li>
                            <li><a href="{% url 'blog' %}">مدونة ومقالات</a></li>
                            
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        
    </header>
    {% block content %}
        <!-- Default content -->
        {% endblock %}
    <footer id="footer" class="footer-area wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="logo padding">
                        <a href=""><img src="{% static 'images/logo.png' %}" alt=""></a>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-info padding">
                        <h3>CONTACT US</h3>
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i>     الجلفة حي مسعودي طريق الوئام مقابل مديرية الشباب و الرياضة</p>
                        <p><i class="fa fa-paper-plane" aria-hidden="true"></i> lahrech.hamza@outlook.com</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> 0555 62 34 55</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="subcriber-info">
                        <h3>SUBSCRIBE</h3>
                        <p>Get healthy news, tips, and solutions to your problems from our experts.</p>
                        <div class="subcriber-box">
                            <form id="mc-form" class="mc-form">
                                <div class="newsletter-form">
                                    <input type="email" autocomplete="off" id="mc-email" placeholder="Email address" class="form-control" name="EMAIL">
                                    <button class="mc-submit" type="submit"><i class="fa fa-paper-plane"></i></button> 
                                    <div class="clearfix"></div>
                                    <!-- mailchimp-alerts Start -->
                                    <div class="mailchimp-alerts">
                                        <div class="mailchimp-submitting"></div>
                                        <div class="mailchimp-success"></div>
                                        <div class="mailchimp-error"></div>
                                    </div>
                                    <!-- mailchimp-alerts end -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </footer>
     
     <div class="copyright-area wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="footer-text">
                        <p>© 2024. Dr lahrech Hamza<a id="tw" href="https://themewagon.com/" target="_blank"></a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="social">
                        <ul class="social-links">
                            <li><a href=""><i class="fa fa-rss"></i></a></li>
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            <li><a href=""><i class="fa fa-youtube"></i></a></li>
                            <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
     </div>
     <!-- end copyrights -->
     <a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
     
     <!-- all js files -->
     <script src="{% static 'js/all.js' %}"></script>
     <!-- all plugins -->
     <script src="{% static 'js/custom.js' %}"></script>
     
     
     </body>
     </html>
     